<div class="container">
  <div class="row row-offcanvas row-offcanvas-right">
    <div class="col-xs-12 col-sm-9">
      <div class="jumbotron">
        <!--<carousel-directive></carousel-directive>-->
        <carousel></carousel>
      </div>
      <div class="row">

        <div class="col-xs-6 col-lg-4">
          <h2>{{frmModel.title}}</h2>
          <p>{{frmModel.description}}. </p>
          <p><a class="btn btn-secondary" [routerLink]="['/formation']" role="button">Détails &raquo;</a></p>
        </div><!--/span-->

        <div class="col-xs-6 col-lg-4">
          <h2>{{expModel.title}}</h2>
          <p>{{expModel.description}}. </p>
          <p><a class="btn btn-secondary" [routerLink]="['/experience']" role="button">Détails &raquo;</a></p>
        </div><!--/span-->


        <div class="col-xs-6 col-lg-4">
          <h2>{{prjModel.title}}</h2>
          <p>{{prjModel.descriptionGen}}. </p>
          <p><a class="btn btn-secondary" [routerLink]="['/projet']" role="button">Détails &raquo;</a></p>
        </div><!--/span-->

        <div class="col-xs-6 col-lg-4">
          <h2>{{loiModel.title}}</h2>
          <p>{{loiModel.descriptionGen}}. </p>
          <p><a class="btn btn-secondary" [routerLink]="['/loisirs']" role="button">Détails &raquo;</a></p>
        </div><!--/span-->

        <div class="col-xs-6 col-lg-4">
          <h2>{{lgModel.title}}</h2>
          <p>{{lgModel.descriptionGenLg}}. </p>
          <p><a class="btn btn-secondary" [routerLink]="['/langues']" role="button">Détails &raquo;</a></p>
        </div><!--/span-->



      </div><!--/row-->
    </div><!--/span-->
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
      <div class="container">

        <div class="row">
          <div class="col-sm-3">
            <!-- <profil-directive><profil-directive>-->
           </div>
         </div>
       </div>
     </div><!--/span-->
  </div><!--/row-->
</div><!--/.container-->

